@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  @apply text-6xl p-8
}

h2{
  @apply text-4xl p-8
}

.container{
  @apply rounded-xl bg-white p-6 m-8 shadow-lg outline outline-black/5
}

button {
  @apply rounded-xl bg-slate-200 p-6 shadow-lg m-8 hover:bg-white transition ease-in-out duration-700 
}