@import "tailwindcss";

#root {
  /* max-width: 1280px;
  
  padding: 2rem; */
  margin: 0 auto;
  text-align: center;
}

h1{
  @apply text-5xl p-4
}

h2{
  @apply text-3xl p-4
}

.container{
  @apply rounded-xl bg-white p-4 m-4 shadow-lg outline outline-black/5
}

button {
  @apply rounded-xl bg-slate-200 p-4 shadow-lg m-2 hover:bg-white transition ease-in-out duration-700 
}